table,th,tr{
    border: 1px solid #AE9181;
    padding: 15px;
    
   
}
table{
   margin-top: 85px;
   margin-left:  230px;
   
     background-color: #216847;
        
}
body{
  
    font-family: Abril Fatface;
    color: #EFD7D1;
}
 table th:hover{
     background-color: white;
     color:orangered;
      transition: .5s;
}