*{margin: 0;padding: 0}
body{
    background-color: #303641;
    color: white;
}
.form-group{
    margin-top: 200px;
    width: 370px;
    margin-left: 330px;
}

.form-control {
    background-color: #373e4a;
    background-image: none;
    border: 1px solid #495262;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: white;
    display: block;
    font-size: 14px;
    height: 39px;
    line-height: 1.42857;
    padding: 6px 12px;
    text-align: center;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.btn:hover{
    color:white;
}
img{
    height: 136px;
    margin-left: 80px;
    width: 205px;
}